.footer {

    &__body {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__right , &__left {
        display: flex;
        column-gap: 24px;
    }
    &__left {
    }
    &__right {
    }
}
.leftItem {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #222;
}
.rightItem {
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #222;

    &__mar{
        margin-right: 8px;
    }
}